*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bg-info{
    background: #74CAFE;
    background-image: url(img/twitter-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 180%;
    background-position-x: -150px;
    height: 90vh;
}

.descricao-info{
    max-width: 450px;
    margin: auto;
    position: relative;
    top: 35%;

}

.descricao-info h3{
    padding: 20px 50px;
    font-size: 22px;
    color: #ffffff;
}



.dados{
    background: #14202B;
}

.dados-content{
    max-width: 600px;
    margin: 0 auto;
}

.dados-content input{
    padding: 20px 10px;
    margin-top: 10px;
    margin-left: 80px;
    border-radius: 6px;
    border: solid 1px #3D5466;
    background:transparent;
    color: #ffffff;
    outline: none;
}

.dados-content input:focus{
    border:#74CAFE solid 2px ;
}

.dados-content input + input{
    margin-left: 10px;
}

.dados-content button{
    padding: 15px 30px;
    border-radius: 50px;
    margin-left: 10px;
    background: transparent;
    border: solid 1.5px #74CAFE;
    color: #74CAFE;
    cursor: pointer;
    transition: .3s;
}

.dados-content button:hover{
    background: #74c9fe1f;
}

.esqueceu{
    margin-left: 300px;
    margin-top: 10px;
}

.esqueceu a{
    color: #74CAFE;
}

.esqueceu a:hover{
    text-decoration: underline;
}

.dados-inscricao{
    max-width: 400px;
    display: block;
    margin-left: 80px;
}

.dados-inscricao img{
    width: 50px;
    margin-top: 50px;
}

.dados-inscricao h2{
    margin-top: 20px;
    font-size: 35px;
    color: #ffffff;
}

.dados-inscricao h3{
    margin-top: 50px;
    color: #ffffff;
    font-size: 17px;
}

.btn-action{
    position: absolute;
    margin-top: 30px;
    
}

.btn-action #inscrever{
    position: relative;
    padding: 13px 147px;
    background: #1f9ce9;
    border-radius: 50px;
    color: #ffffff;
    font-size: 20px;
    transition: .3s;
}

.btn-action #inscrever:hover{
    background: #1A91DA;
}

.btn-action #entrar{
    position: relative;
    padding: 13px 170px;
    border-radius: 50px;
    border: solid 1px #74CAFE;
    background: transparent;
    top: 40px;
    color: #74CAFE;
    font-size: 20px;
    transition: .3s;
}

.btn-action #entrar:hover{
    background: #74c9fe1f;
}


.footer{
    height: 10vh;
    text-align: center;
    background: #14202B;
}
.footer-container{
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.footer-container a{
    padding: 20px 0;
    color: #7999A6; 
    margin: 20px 0; 
}

.footer-container a:hover{
    text-decoration: underline;
}

.footer-container a + a{
    margin: 12px;
}