*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bg-info{
    background: #74CAFE;
    background-image: url(img/twitter-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 180%;
    background-position-x: -150px;
    height: 95vh;
}

.descricao-info{
    max-width: 450px;
    margin: auto;
    position: relative;
    top: 35%;

}

.descricao-info h3{
    padding: 20px 50px;
    font-size: 22px;
    color: #ffffff;
}



.dados{
    background: #14202B;
}

.dados-content{
    max-width: 600px;
    margin: 0 auto;
}

.dados-content input{
    padding: 20px 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: solid 1px #3D5466;
    background:transparent;
    color: #ffffff;
    outline: none;
}

.dados-content input:focus{
    border:#74CAFE solid 2px ;
}

.dados-content input + input{
    margin-left: 10px;
}

.dados-content button{
    padding: 15px 30px;
    border-radius: 50px;
    margin-left: 10px;
    background: transparent;
    border: solid 1.5px #74CAFE;
    color: #74CAFE;
    cursor: pointer;
    transition: .3s;
}

.dados-content button:hover{
    background: #74c9fe1f;
}

.esqueceu{
    margin-left: 220px;
    margin-top: 10px;
}

.esqueceu a{
    color: #74CAFE;
}

.esqueceu a:hover{
    text-decoration: underline;
}
